<html>

<head>
  <title> Pollen Datax </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/pollen-data.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

</head>
</head>

<body>

  <h1>Pollen Data</h1>
  <h2>Select Region:</h2>
  <form action="/action_page.php">
  <label for="regions">Select a Region:</label>
  <select id="regions" name="regions">
    <option value="Schleswig-Holstein und Hamburg">Schleswig-Holstein und Hamburg</option>
    <option value="Mecklenburg-Vorpommern">Mecklenburg-Vorpommern</option>
    <option value="Niedersachsen und Bremen">Niedersachsen und Bremen</option>
    <option value="Nordrhein-Westfalen">Nordrhein-Westfalen</option>
    <option value="Brandenburg und Berlin">Brandenburg und Berlin</option>
    <option value="Sachsen-Anhalt">Sachsen-Anhalt</option>
    <option value="Th端ringen">Th端ringen</option>
    <option value="Sachsen">Sachsen</option>
    <option value="Hessen">Hessen</option>
    <option value="Rheinland-Pfalz und Saarland">Rheinland-Pfalz und Saarland</option>
    <option value="Baden-W端rttemberg">Baden-W端rttemberg</option>
    <option value="Bayern">Bayern</option>
  </select>
  <select id="sub_regions">
    <option data-group='SHOW' value='0'>-- Select --</option>
    <option data-group='Schleswig-Holstein und Hamburg' value='Inseln und Marschen'>Inseln und Marschen</option>
    <option data-group='Schleswig-Holstein und Hamburg' value='Geest,Schleswig-Holstein und Hamburg'>Geest,Schleswig-Holstein und Hamburg</option>
    <option data-group='Mecklenburg-Vorpommern' value='Niedersachsen und Bremen'>Niedersachsen und Bremen</option>
<select>
  <input type="submit">
 


  <h2> Select Pollentypes </h2>

  <p><b>Grass pollen:</b> today: none, moderate, high - tomorrow: none, moderate, high</p> <button>Add to Profile</button>
  <p><b> Ragweed pollen:</b>today: none, moderate, high - tomorrow: none, moderate, high</p><button>Add to Profile</button>
  <p><b>Birch pollen:</b> today: none, moderate, high - tomorrow: none, moderate, high</p><button>Add to Profile</button>
  <p><b>Rye Pollen:</b> today: none, moderate, high - tomorrow: none, moderate, high</p><button>Add to Profile</button>
  <p><b>Hazel pollen:</b> today: none, moderate, high - tomorrow: none, moderate, high</p><button>Add to Profile</button>
  <p><b>Alder Pollen:</b> : today: none, moderate, high - tomorrow: none, moderate, high</p><button>Add to Profile</button>
  <p><b>Ash pollen:</b> today: none, moderate, high - tomorrow: none, moderate, high</p><button>Add to Profile</button>
  <p><b>Mugwort pollen: </b>today: none, moderate, high - tomorrow: none, moderate, high</p><button>Add to Profile</button>
  

</body>

</html>