<div> 
<form action="/login" method="POST" id="form-container" class="form-signin">

  <h2 class="h3 mb-3 font-weight-normal">Login</h2>
  {{!-- <img class="mb-4" src="../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> --}}

  <label for="username" class="sr-only">Username</label>
  <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Username">

  <label for="password" class="sr-only">Password</label>
  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password">

  {{#if message}}
    <div class="error-message">{{ message }}</div>
    <br>
  {{/if}}
 
  <button type="submit" value="Log In" class="btn btn-lg btn-primary btn-block">Login</button>
 
  <p class="mt-5 mb-3 text-muted">
    Don't have an account yet?
    <a href="/signup">Signup</a>
  </p>
</form>
</div>