<div class="col-md-8 order-md-1">
  <h4 class="mb-3"> Create your Account </h4>

  <form action="/signup" method="POST" class="needs-validation">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="firstName">First name</label>
        <input type="text" class="form-control" id="firstName" placeholder="" value="" name="firstName">
      </div>

      <div class="col-md-6 mb-3">
        <label for="lastName">Last name</label>
        <input type="text" class="form-control" id="lastName" placeholder="" value="" name="lastName">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="" value="" name="username">
      </div>
      <div class="col-md-6 mb-3">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="" value="" name="password">
      </div>
    </div>

    <div class="mb-3">
      <label for="email">Email <span class="text-muted">(Optional)</span></label>
      <input type="email" class="form-control" id="email" placeholder="you@example.com" name="email">
    </div>

    <div class="row">
      <div class="col-md-4 mb-3">
        <label for="state">State</label>
        <select name="userRegion" class="custom-select d-block w-100" id="state">
          <option value="">Choose...</option>
          <option value="10" >Schleswig-Holstein and Hamburg</option>
          <option value="20">Mecklenburg-Vorpommern</option>
          <option value="30">Niedersachsen und Bremen</option>
          <option value="40">Nordrhein-Westfalen</option>
          <option value="50">Brandenburg and Berlin</option>
          <option value="60">Sachsen-Anhalt</option>
          <option value="70">Thüringen</option>
          <option value="80">Sachsen</option>
          <option value="90">Hessen</option>
          <option value="100">Rheinland-Pfalz and Saarland</option>
          <option value="110">Baden-Württemberg</option>
          <option value="120">Bayern</option>
        </select>
      </div>
      <div class="col-md-3 mb-3">
        <label for="zip">Zipcode</label>
        <input type="text" class="form-control" id="zip" placeholder="" name="zip">
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-4 mb-3">
        <h3>Choose your Pollen Allergies</h3>
        <input type="checkbox" name="Roggen" value="Roggen">
        <label for="Roggen"> Rye</label><br>
        <input type="checkbox" name="Mugwort" value="Mugwort">
        <label for="Mugwort"> Mugwort</label><br>
        <input type="checkbox" name="Alder" value="Alder">
        <label for="Alder"> Alder</label><br>
        <input type="checkbox" name="Ragweed" value="Ragweed">
        <label for="Ragweed"> Ragweed</label><br>
        <input type="checkbox" name="Ash" value="Ash">
        <label for="Ash"> Ash</label><br>
        <input type="checkbox" name="Birch" value="Birch">
        <label for="Birch"> Birch</label><br>
        <input type="checkbox" name="Grass" value="Grass">
        <label for="Grass"> Grass</label><br>
        <input type="checkbox" name="Hasel" value="Hasel">
        <label for="Hasel"> Hazel</label><br>
      </div>
    </div>  

    <hr class="mb-4">
    <button>Sign in</button>

  </form>
</div>
