


Private page
{{#if user}}
  <div>

  <h1>This is the fun</h1>

  <h2>your results have been recorded</h2>

  <a href="/party">check here to see your alergy results</a>

  

    <a href="/">Index</a>
  </div>
{{/if}}