<div class="fun-div"> 
{{#if user}}
<div>
  <div>
    <p>Welcome back! {{user.username}}</p>
    <br>
  </div>

  <h2>Today's Pollen forcast for Berlin - Brandenburg, has been added to your <a class="text-muted" href="/party">History</a></h2>
  <br>
</div>

<div>
  <br>
    <h3>Tomorrow's Hazel score: 1 {{pollen.Hasel.tomorrow}} </h3>
  <br>
    <h3>Tomorrow's Grass score: 0 {{pollen.Graeser.tomorrow}}</h3>
  <br>
</div>

<div>
  <section>
    <header>
      <br>
      <h2>Tips to Manage Your Allergies:</h2>
      <br>
    </header>

    <div>
      <div>
        <div>
          <img src="/images/tips/shower.png" alt="image">
  
        </div>
        <div>
          <span>Shower after being outdoors</span>
          To remove pollen you pick up outside, take a shower and change your clothes.
        </div>
      </div>


      <div>
        <div>
          <img src="/images/tips/outdoor.png" alt="image">
        </div>
        <div>
          <span>Minimize indoor pollen</span>
          Keep your windows shut and use your AC or a HEPA purifier to filter allergens.
        </div>
      </div>


      <div>
        <div>
          <img src="/images/tips/weather.png">
        </div>
        <div>
          <span>Check the Weather</span>
          Learn when conditions such as the wind increase pollen levels, so you can prepare.
        </div>
      </div>


      <div>
        <div>
          <img src="/images/tips/doctor.png">
        </div>
        <div>
          <span>Know your allergy relief options</span>
          From medications to nasal sprays, talk to your doctor about your options.
        </div>
      </div>
    </div>

  </section>
</div>

<br>
<a class="text-muted" href="/logout">Logout</a>

{{/if}}
</div>