


Private page
{{#if user}}
  <div>

  <h1>This is the fun</h1>

  <h2>your results have been recorded</h2>

  <a href="/party">check here to see your alergy results</a>

  <div id="partregion_name"></div>
  <div id="region_name"></div>
  <div id="region_id"></div>
  <input id="location" type="hidden" value="0">
  <script src="/javascripts/pollen-data.js"></script>


    <a href="/">Index</a>
  </div>
{{/if}}