<h2>Your last 5 Pollen Checks</h2>
{{!-- {{#if user}} --}}

<div>
  <p>Hello {{User.name}}</p>
</div>


<div>
  <a href="/private-page">Back to Main Page</a>
</div>
<br>

<div>
  <a href="/logout">Logout</a>
</div>
{{!-- {{/if}} --}}