<h1>{{title}}</h1>
<p>{{title}} will help you to track Pollen levels in your city</p>

  <p>
    Wanna Join {{title}} ?
    <a href="/signup">Signup</a>
  </p>

  <p>
    Do you already have an account?
    <a href="/login">Login</a>
  </p>