<h1>Hello {{user.username}}</h1>
<h2>welcome to this pollen party</h2>
{{#each pollens}}
<h3>this is the alergy scores for {{region}}</h3>
<h3>Today's Graeser score: {{pollen.Graeser.today}} </h3>
<h3>Today's Ambrosia score: {{pollen.Ambrosia.today}} </h3>
{{/each}}
<h2></h2>