<head>

<h2>After Login Page</h2
{{#if user}}

<div>
  <p>Hello {{user.username}}</p>
</div>

<h1>Testdisplay usrRegion from Database: {{user.userRegion}}</h1>

<div>
  <p>The Pollen Forcast for today is :</p>
</div>


<div>
  <p>The Pollen Forcast for tommorow is :</p>
</div>

<!--div id="partregion_name"></div>
<div id="region_name"></div>
<div id="region_id"></div-->
<input id="location" type="hidden" value="0">
<script src="/javascripts/pollen-data.js"></script>

{{#each region_id}}
    {{region_name}}
{{/each}}


<div>
  <a href="/history">View your last 5 entries</a>
</div>
<br>

<div>
  <a href="/logout">Logout</a>
</div>
{{/if}}