<h2>After Login Page</h2>
{{#if user}}

<div>
  <p>Hello Username</p>
</div>


<div>
  <p>The Pollen Forcast for today is :</p>
</div>


<div>
  <p>The Pollen Forcast for tommorow is :</p>
</div>

<div>
  <a href="/history">View your last 5 entires</a>
</div>
<br>

<div>
  <a href="/logout">Logout</a>
</div>
{{/if}}