<head>

<h2>After Login Page</h2
{{#if user}}

<div>
  <p>Hello {{user.username}}</p>
</div>

<h1>{{user.created_at}}</h1>

<div>
  <p>The Pollen Forcast for today is {{user.userpollens}}:</p>
</div>


<div>
  <p>The Pollen Forcast for tommorow is :</p>
</div>

<div id="partregion_name"></div>
<div id="region_name"></div>
<div id="region_id"></div>
<input id="location" type="hidden" value="0">
<script src="/javascripts/pollen-data.js"></script>

<div>{{user.UserRegion}}</div>


<div>
  <a href="/history">View your last 5 entires</a>
</div>
<br>

<div>
  <a href="/logout">Logout</a>
</div>
{{/if}}