<!--<head><script src="/javascripts/pollen-data.js" charset="utf-8"></script></head>-->
<!--<head><script src="/routes/auth-routes.js"></script></head>-->


<h1> Nice to have you here! Please add your name, location and the Pollen levels you intersted in:</h1>
 
<form action="/profile-setup" method="POST">
  <label for="name">Name:</label>
  <input id="name" type="text" name="name" placeholder="Your Name">
  <br><br>

 <!-- <label for="zipcode">Zipcode</label>
  <input id="zipcode" type="number" name="zipcode" placeholder="Your Zipcode">
  <br><br> -->

  <form action="/profile-setup" method="POST">
  <label for="regions">Select a Region:</label>
  <select id="regions" name="regions">
    <option value= "10">Schleswig-Holstein und Hamburg</option>
    <option value="Mecklenburg-Vorpommern">Mecklenburg-Vorpommern</option>
    <option value="Niedersachsen und Bremen">Niedersachsen und Bremen</option>
    <option value="Nordrhein-Westfalen">Nordrhein-Westfalen</option>
    <option value="Brandenburg und Berlin">Brandenburg und Berlin</option>
    <option value="Sachsen-Anhalt">Sachsen-Anhalt</option>
    <option value="Th端ringen">Th端ringen</option>
    <option value="Sachsen">Sachsen</option>
    <option value="Hessen">Hessen</option>
    <option value="Rheinland-Pfalz und Saarland">Rheinland-Pfalz und Saarland</option>
    <option value="Baden-W端rttemberg">Baden-W端rttemberg</option>
    <option value="Bayern">Bayern</option>
  </select>
  <select id="sub_regions">
    <option data-group='SHOW' value='0'>-- Select --</option>
    <option data-group='Schleswig-Holstein und Hamburg' value='Inseln und Marschen'>Inseln und Marschen</option>
    <option data-group='Schleswig-Holstein und Hamburg' value='Geest,Schleswig-Holstein und Hamburg'>Geest,Schleswig-Holstein und Hamburg</option>
    <option data-group='Mecklenburg-Vorpommern' value='Niedersachsen und Bremen'>Niedersachsen und Bremen</option>
<select>
  <input type="submit">

  <h3> Add Pollentypes you interested in: </h3>

  <p><b>Grass pollen</b></p>   <button>Add to Profile</button>
  <p><b> Ragweed pollen</b></p><button>Add to Profile</button>
  <p><b>Birch pollen</b></p><button>Add to Profile</button>
  <p><b>Rye Pollen</b> </p><button>Add to Profile</button>
  <p><b>Hazel pollen</b></p><button>Add to Profile</button>
  <p><b>Alder Pollen</b></p><button>Add to Profile</button>
  <p><b>Ash pollen</b> </p><button>Add to Profile</button>
  <p><b>Mugwort pollen</b></p><button>Add to Profile</button>

 
  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>
  
 
  <button>Show me results!</button>
 
</form>
