<h1> nice to have you here, let get your name and the location that you would like to know the Pollen levels</h1>
 
<form action="/profile-setup" method="POST">
  <label for="name">Name:</label>
  <input id="name" type="text" name="name" placeholder="Your Name">
  <br><br>

  <label for="zipcode">Zipcode</label>
  <input id="zipcode" type="number" name="zipcode" placeholder="Your Zipcode">
 
  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>
 
  <button>Show me results!</button>
 
</form>
